#recipe-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-inline: 15px;
  
  a {
    text-decoration: none;
    text-align: center;
    color: black;
    display: flex;
    flex: 1;
    width: 45%;
    flex-direction: column;
    background: white;
    border-radius: 10px;

    img {
      border-radius: 20px;
    }

    h3 {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      padding-block: 15px;
    }
  }
}
