#done-recipes-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 100px;
  margin-inline: 15px;
  max-width: min(420px, 100vw);
  margin-top: 20px;

  a {
    text-decoration: none;
    text-align: center;
    color: black;
    display: flex;
    flex: 1;
    max-width: 125px;
    width: 30%;
    flex-direction: column;
    background: white;
    border-radius: 5px;

    img {
      border-radius: 5px;
      max-height: 125px;
      max-width: 125px;
    }

    h3 {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      margin-top: 3px;
    }

    p {
      font-size: 14px;
      margin-bottom: 5px;
    }
  }
}
