#footer {
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: min(100vw, 400px);
  height: 75px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;

  button {
    border: none;
    background: none;
    flex-basis: 100%;
  }
}

