#footer {
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: min(100vw, 420px);
  height: 75px;
  background-color: white;
  padding: 2px 8px;
  border-radius: 5px;

  button {
    border: none;
    background: none;
    flex-basis: 100%;
  }

  .active {
    p {
      color: #7A7AC7;
      font-weight: 600;
    }
  }
}
