* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color:rgb(78, 81, 81)
}

body {
  background: rgba(243, 245, 246, 1);
  margin-inline: auto;
  width: min(400px, 100vw);
}
