* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  background: rgb(166, 166, 235);
}

#root {
  width: min(451px, 100vw);
  margin: auto;
  height: max(100vh, 100%);
  word-wrap: break-word;
  background: rgba(243, 245, 246, 1);
  border: rgb(202, 201, 201) 1px solid;
  border-radius: 5px;
}

img {
  max-width: 600px;
}
